# Виртуальное окружение
.venv/
venv/
env/

# Переменные окружения и секреты
.env
credentials.json

# Python
__pycache__/
*.py[cod]
*.pyo
.Python
*.so
.eggs/
*.egg-info/
*.egg

# IDE
.idea/
.vscode/
*.swp
*.swo

# Системные файлы
.DS_Store
